:root {
  --color-primary-main: #474B74;
  --color-primary-light: #7B80AB;
  --font-size-default-title: 4.3rem;
  --font-size-default-text: 1.5rem;
  --font-weight-title: 800;
  --collor-secondary-text: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
  position: fixed;
  background-color: var(--collor-secondary-text);
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: 'Comfortaa', cursive;
  font-weight: 800;
  font-size: 2.2rem;
}

.header .title-word--collor {
  color: var(--color-primary-main);
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__list__item__anchor {
  text-decoration: none;
  padding: 8px;
  color: var(--color-primary-main);
  font-size: 1.3rem;
  font-weight: 600;
}

.header .nav__list__item__anchor:hover {
  text-decoration: underline;
  color: var(--color-primary-light);
}

.front-cover {
  background-image: url(../imgs/NovaEra-Site-FotoCapa.jpg);
  background-size: cover;
  height: 580px;
}

.front-cover__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--collor-secondary-text);
}

.front-cover__wrapper__come-see {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 40px 0;
  text-transform: uppercase;
}

.front-cover__wrapper__paragraph {
  padding-bottom: 15px;
  font-size: 1.8rem;
}

.resume__our-history {
  font-size: var(--font-size-default-title);
  font-weight: var(--font-weight-title);
  padding-top: 5rem;
  text-transform: uppercase;
}

.resume__text {
  padding: 10rem 0;
}

.resume__text__sub-title {
  font-size: 30px;
}

.resume__text__paragraph {
  padding-top: 2rem;
  font-size: var(--font-size-default-text);
}

.resume .our-history-word--collor {
  color: var(--color-primary-light);
}

.our-course__title {
  font-size: 3rem;
  font-weight: var(--font-weight-title);
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.our-course .our-course-word--collor {
  color: var(--color-primary-main);
}

.our-course__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-course__wrapper__grid img {
  padding: 2px;
  width: 300px;
  height: 300px;
}

.our-course__wrapper__grid__title-img {
  text-align: center;
  color: var(--color-primary-main);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-default-text);
  padding-top: 0.5rem;
}

.our-course__wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.25rem 0;
}

.our-course__button {
  padding: 1.75rem 3.12rem;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background-color: var(--color-primary-main);
  color: var(--collor-secondary-text);
  font-weight: var(--font-weight-title);
  text-transform: uppercase;
}

.schedule {
  background-color: var(--color-primary-light);
  padding: 8.12rem 0;
}

.schedule__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule__wrapper__working-period {
  color: var(--collor-secondary-text);
  font-size: 3rem;
  font-weight: var(--font-weight-title);
  text-transform: uppercase;
  padding: 3rem 0;
}

.schedule__wrapper__week {
  color: var(--collor-secondary-text);
  padding: 0.25rem 0;
  font-size: 1.75rem;
}

.our-space__title {
  font-size: 3rem;
  font-weight: var(--font-weight-title);
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.our-space__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-space__wrapper__grid img {
  width: 400px;
  height: 400px;
  padding: 2px;
}

.our-space .our-space-word--collor {
  color: var(--color-primary-main);
}

.footer {
  background-color: var(--color-primary-main);
}

.footer__pd {
  padding: 3rem 0;
}

.footer__wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper-icon__title {
  color: var(--collor-secondary-text);
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
}

.footer__wrapper-icon__social-medias {
  font-size: 3rem;
}

.footer__wrapper-icon__social-medias__anchor {
  text-decoration: none;
  color: var(--collor-secondary-text);
}

.footer__row {
  border: solid 1px;
  color: #3E3E3E;
  margin: 3rem 0;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact__information__sub-title {
  color: var(--collor-secondary-text);
  font-weight: var(--font-weight-title);
  padding: 1rem 0;
  font-size: 20px;
}

.footer p {
  padding: 0.5rem 0;
  color: var(--collor-secondary-text);
}
/*# sourceMappingURL=style.css.map */